* {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", serif;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    height: 97vh;
}

a {
    color: white;
    text-decoration: none;
}

#container {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.block {
    flex-direction: column;
    width: 130px;
    height: 130px;
    padding: 10px;
    margin: 15px;
    border: 1px solid white;
    border-radius: 10px;
}

i {
    font-size: 50px;
    margin-bottom: 10px;
}

.title {
    font-size: 20px;
}

.description {
    display: none;
}