body {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
}

#container {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 10px;
}

#row {
    width: 190px;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
}

#block {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

#icon {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

#title {
    width: 20px;
    height: 10px;
    border: 1px solid white;
    border-radius: 10px;
}