body {
    background-color: black;
    color: white;
    font-family: "Times New Roman", serif;
    font-size: 25px;
}

a {
    color: white;
}

.lcolumn {
    float: left;
    margin: 0 0 0 15%;
    padding: 0 0 39% 0;
    border-right: solid 1px white;
    width: 35%;
    max-height: 0;
}

.info {
    padding: 0 70px 0 0;
}

.rcolumn {
    float: left;
    padding: 2% 0 37% 3%;
    border-left: solid 1px white;
    width: 35%;
    max-height: 0;
}

@media screen and (max-width: 930px) {
    .lcolumn {
        float: none;
        width: 100%;
        border: none;
        display: inline-block;
        margin: 0 0 0 0;
    }

    .info {
        padding: 0 0 0 0;
    }

    .rcolumn {
        float: none;
        width: 100vw;
        border: none;
        display: inline-block;
        margin: 0 0 0 0;
        padding: 3% 0 0 0;
    }

    img {
        max-width: 95%;
    }

    table {
        display: inline-block;
    }

    td {
        font-size: 20px;
        max-width: 150px;
    }

}