header {
    background-color: black;
    color: white;
    width: 100%;
    vertical-align: top;
    border-bottom: 1px solid white;
}

#logo {
    height: 150px;
    float: inherit;
    margin: 0 30px 0 30px;
    vertical-align: center;
}

.links {
    float: right;
    color: white;
    font-size: 25px;
    padding: 3% 3% 0 0;
}

@media screen and (max-width: 800px) {
    #logo {
        height: 100px;
    }
    #navigation {
        vertical-align: top;
        width: 100%;
    }
    .links {
        padding: 0;
    }
}
