body {
    background-color: black;
    color: white;
    text-align: center;
}

#titel {
    font-family: "Times New Roman", serif;
    font-size: 50px;
    display: inline-block;
}

#navigation {
    
}

.nav {
    display: inline-block;
    padding: 0 10% 0 10%;
}

a {
    color: white;
    font-size: 25px;
}