body {
    color: white;
    background-color: black;
    font-size: 20px;
}

a {
    color: white;
}

button {
    all: unset;
  }

input {
    all: unset;
}

input::placeholder {
    color: white;
  }

button:hover {
    background-color: white;
    color: black;
    border-radius: 100%;
}

#flex-container {
    height: 98vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    width: 100%;
    border-bottom: 2px solid white;
}


.left {
    display: flex;
    justify-content: start;
    flex: 1 1 0px;
    margin-left: 15px;
}

.middle {
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex: 1 1 0px;
    justify-content: end;
    margin-right: 15px;
}

#logo-text {
    background-color: black;
    margin-top: 50px;
    padding: 15px;
    max-width: 100%;
}

.r-icons {
    margin: 0 15px 0 0;
}

.l-icons {
    margin: 0 0 0 15px;
}

#flexbox {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 200px;
    padding: 10px;
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

.search-button {
    padding: 10px;
}


.search-container {
    display: flex;
    margin-bottom: 150px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    width: 100%;
    border-top: 2px solid white;
}

@media screen and (max-width: 600px) {

    #flex-container {
        height: 91vh;
    }

   .middle {
    width: 100%;
    position: absolute;
   }

    #logo-text {
        max-width: 300%;
        margin-top: 200px;
    }

    
}

.dark-mode {
    filter: invert(100%);
    background-color: white;
}