* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    color: white;
}

body {
    background-color: black; /* Zwarte achtergrond voor beter glow-effect */
    background-image: url(achtergrond.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

.blue-glow {
    font-size: 48px;
    text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f;
}

.pink-glow {
    font-size: 48px;
    text-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #f0f;
}

.box-blue {
    border: 1px solid white;
    box-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 20px #00f, 0 0 40px #00f;
}

.box-pink {
    border: 1px solid white;
    box-shadow: 0 0 5px #f0f, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #f0f;
}

.info-row {
    flex-direction: row;
}

.info-column {
    background-color: rgba(0, 0, 0, 0.39);
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
    min-width: 405px;
}